<div class="container comics">
    <% @comics.each_slice(5) do |comics| %>
      <div class="row comic-row">
        <% comics.each_with_index do |comic, index| %>
          <div class="comic-cell col-lg-2 <%= 'col-half-offset' if index > 0 %>">
            <div class="image-container">
              <a href="#">
                <%= image_tag(set_favourite_image_by_user(current_user, comic.comic_id), class: 'heart', alt: 'favourite') %>
              </a>
              <%= image_tag(comic.thumbnail, class: 'thumb', alt: comic.title) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="next-prev-container">
      <%= link_to_previous_page @comics, 'Previous Page', class: 'prev button' %>
      <%= link_to_next_page @comics, 'Next Page', class: 'next button' %>
    </div>
  </div>
</div>

