<div class="container comics">
    <% @comics.each_slice(5) do |comics| %>
      <div class="row comic-row">
        <% comics.each_with_index do |comic, index| %>
          <div class="col-lg-2 <%= 'col-half-offset' if index > 0 %>">
            <%= link_to comic.comic_url do %>
              <%= image_tag(comic.thumbnail, class: 'thumb', alt: comic.title) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="next-prev-container">
      <%= link_to_previous_page @comics, 'Previous Page', class: 'prev button' %>
      <%= link_to_next_page @comics, 'Next Page', class: 'next button' %>
    </div>
  </div>
</div>

